body{
background:url(https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80);
}
.topnav{
overflow:hidden;
}
.topnav a{
float:right;
color:white;
padding:60px;
font-size:140%;
font-family:verdana;
}
h1{
color:white;
font-family:verdana;
font-size:240%;
}
p{
color:white;
font-family:arial;
font-size:150%;
}
h2{
color:white;
font-size:240%;
font-family:verdana;
}