<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/index.css"%}">
</head>
<div>
<div class="topnav">
    <a href="register">Sign Up</a>&nbsp;
    <a href="#">About</a>&nbsp;
    <a href="#">Trading</a>&nbsp;
    <a href="#">Home</a>
</div>
</div>
    <h1 style="text-align:center;padding:60px;font-size:400%;font-family:Arial;" >
        <i><b>Welcome to User Trading Solutions</b></i></h1>
<div class="container">
    <div class="banner-content">
<h1><b>User Trading Solutions</b></h1>
<p><b>User trading is the new trending in the<br>trading where we can get
    better things to earn<br> money from trading</b></p>
</div>
</div>
<div class="container">
    <div class="banner">
<h2><b>Fox Trading Opportunities</b></h2>
        <p><b>Fox trading gives the best opportunities to the<br>freshers and who start thier life fresh with <br>
            software or trading fox trading is the best<br>platform to utilize the skills</b></p>
    </div>
</div>
</body>
</html